.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
.prettyprint {
  overflow: auto;
}
.prettyprint.linenums {
  overflow: visible;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.demo-headline {
  color: #1abc9c;
  font: 700 118px/1.1 "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  margin-bottom: 50px;
  margin-top: 2px;
  padding: 40px 0;
  text-align: center;
  word-wrap: break-word;
}
.demo-row {
  margin: 0 auto;
  padding: 0 20px 50px;
  width: 940px;
}
.demo-row:before,
.demo-row:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.demo-row:after {
  clear: both;
}
.demo-row .demo-heading-note,
.demo-row .demo-text-note {
  display: block;
  width: 260px;
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: 13px;
  line-height: 13px;
  color: #c0c1c2;
  font-weight: 400;
}
.demo-row .demo-text-note {
  bottom: auto;
  top: 10px;
}
.demo-row.menu-row {
  padding: 50px 20px 10px;
}
.demo-row.typography-row .demo-content {
  float: none;
  margin-left: 20px;
  padding-top: 0;
  width: auto;
  clear: both;
}
.demo-row.typography-row .demo-type-example {
  padding-left: 265px;
  margin-bottom: 40px;
  position: relative;
}
.demo-col {
  float: left;
  margin: 0 20px;
  width: 270px;
}
.demo-content {
  float: left;
  margin-left: 20px;
  width: 580px;
}
.demo-content.demo-content-article {
  font-size: 24px;
}
.demo-content.demo-content-article p {
  margin-bottom: 20px;
}
.demo-content.demo-content-article ul {
  list-style-type: none;
  margin-left: 0;
}
.demo-content.demo-content-article li {
  line-height: 35px;
  padding: 0 0 5px;
}
.demo-content-wide {
  clear: both;
  margin: 0 20px;
}
.demo-content-wide:before,
.demo-content-wide:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.demo-content-wide:after {
  clear: both;
}
.demo-title {
  float: left;
  margin: -0.5em 20px 0;
  width: 240px;
  font: 700 24.5px/40px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.demo-title h1,
.demo-title h2,
.demo-title h3,
.demo-title h4 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.demo-title h1,
.demo-title h2,
.demo-title h3 {
  line-height: 40px !important;
}
.demo-title h3 {
  font-size: 24.5px !important;
}
.demo-title small {
  color: #c0c1c2;
  font-size: 13px;
  font-weight: 400;
}
.demo-buttons .btn,
.demo-inputs .control-group {
  margin-bottom: 20px;
}
.demo-navigation .demo-title {
  margin-top: 10px;
}
.demo-pager {
  margin-top: -10px;
}
.demo-tooltips {
  height: 100px;
}
.demo-tooltips .tooltip {
  left: -8px !important;
  position: relative !important;
  top: -8px !important;
}
.demo-tooltips .tooltip-inner {
  max-width: 100%;
  width: auto;
}
.demo-popovers .popover {
  display: block;
  margin: 0 13px 0 -3px;
  position: relative;
  width: auto;
}
.demo-social-buttons .btn {
  clear: left;
  float: left;
  margin-bottom: 17px;
}
.demo-headings {
  margin-bottom: 12px;
}
.demo-tiles {
  margin-bottom: 46px;
}
.demo-icons {
  font-size: 32px;
  margin-left: -15px;
}
.demo-icons > span {
  display: inline-block;
  margin: 0 0 32px 35px;
  width: 32px;
}
@media (max-width: 480px) {
  .demo-icons > span {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.demo-icons-tooltip {
  bottom: 0;
  color: #c2c8cf;
  font-size: 12px;
  left: 100%;
  margin-left: 0 !important;
  position: absolute;
  width: 80px;
}
.demo-inline {
  display: inline-block;
}
.demo-labels {
  font-size: 25px;
}
.demo-labels .visible-lg {
  display: inline !important;
}
@media (max-width: 767px) {
  .demo-labels .visible-lg {
    display: none !important;
  }
}
.demo-illustrations {
  margin-top: 40px;
}
.demo-illustrations .demo-content-wide {
  margin: 0 0 0 -66px;
  padding-top: 20px;
}
.demo-illustrations .demo-content-wide > div {
  float: left;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 0 0 80px 87px;
  text-align: center;
  vertical-align: middle;
}
.demo-illustrations img {
  display: inline-block;
  max-height: 100px;
  max-width: 100px;
  vertical-align: middle;
}
.demo-dialog {
  padding: 13px 20px 15px;
}
.demo-dialog .flat {
  width: 300px;
}
.static-modal-backdrop {
  background-color: #243342;
  padding: 62px 14px;
  margin-bottom: 50px;
  width: 100%;
}
.static-modal-backdrop .modal {
  bottom: auto;
  display: block;
  left: auto;
  position: relative;
  right: auto;
  top: auto;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 20px;
}
.static-modal-backdrop .modal-dialog {
  padding: 0;
}
.components-static-modal .modal {
  bottom: auto;
  display: block;
  left: auto;
  position: relative;
  right: auto;
  top: auto;
  z-index: 1;
  overflow: visible;
}
.components-static-modal .modal-dialog,
.components-static-modal .modal-content {
  width: auto;
}
.components-static-modal .modal-dialog {
  padding: 0;
}
.demo-sidebar {
  font-size: 14px;
  line-height: 1.214;
  height: auto;
  left: 0;
  margin: 120px 0 0 0;
  list-style-type: none;
  overflow: auto;
  position: fixed;
  top: 0;
  padding: 0;
  width: 150px;
  z-index: 10000;
  background-color: #f3f4f5;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
.demo-sidebar li:first-child a {
  padding-top: 20px;
}
.demo-sidebar a {
  display: block;
  padding: 7px 20px;
}
@media (max-width: 767px) {
  .demo-row {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
  .demo-col,
  .demo-content,
  .demo-content-wide,
  .demo-title {
    float: none;
    margin: 0 0 18px !important;
    padding: 0 !important;
    width: auto;
  }
  .demo-headline {
    font-size: 65px !important;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .demo-inline {
    display: block;
  }
  .demo-navigation .btn-toolbar {
    margin: 0;
  }
  .demo-navigation .pager {
    display: block;
    margin-left: 0 !important;
    margin-bottom: 20px;
  }
  .typography-row .demo-type-example {
    padding-left: 0 !important;
  }
  .typography-row .demo-heading-note,
  .typography-row .demo-text-note {
    position: static !important;
    margin: 0 0 10px;
  }
  .demo-illustrations .demo-content-wide > div {
    margin-left: 67px;
  }
}
@media (max-width: 480px) {
  .demo-illustrations .demo-content-wide > div {
    margin-left: 23px;
  }
  .demo-navigation .mll.pvl {
    padding: 0;
    margin-left: 0 !important;
    margin-bottom: 20px;
  }
}
